{
    "root": true,
    "env": {
      "node": true,
      "browser": true
    },
    "rules": {
      "no-shadow": "off",
      "@typescript-eslint/no-shadow": ["error"],
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": "error"
    },
    "extends": [
      "sanity",
      "sanity/typescript",
      "sanity/react",
      "plugin:react-hooks/recommended",
      "plugin:prettier/recommended"
    ]
  }
  